/* Make footer stay at bottom */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
  background: #f0f2f5;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  background: rgb(21, 78, 236);
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  border-bottom: 1px solid #ddd;
  color: white;
}




