/* Make footer stay at bottom */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
  background: #f0f2f5;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  background: rgb(21, 78, 236);
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  border-bottom: 1px solid #ddd;
  color: white;
}

/* MAIN CONTENT -> This pushes footer down */
main {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 25px;
  padding: 25px;
}

/* FOOTER */
footer {
  background: rgb(21, 78, 236);
  text-align: center;
  padding: 15px;
  border-top: 1px solid #ddd;
  width: 100%;
  color: white;
}

/* LEFT COLUMN */
.left-col {
  background: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.left-col img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.left-col h3 {
  margin: 10px 0 5px;
}

.left-col p {
  color: #555;
}





