/* Make footer stay at bottom */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
  background: #f0f2f5;
  margin: 0;
  padding: 0;
}


